{% extends '@certificate_path/base.html.twig' %}

{% block content %}

<div class="container p-0 m-0 page">
    <div class="row row-cols-1 ml-0 mr-0 page" style="background-color: red;">
        <div class="col align-self-start p-0">
            <div class="row">
                <img src="{{ pathToUploads }}/headers/{{ event.template.header }}" alt="" class="p-0">
            </div>
        </div>
        <div class="col align-self-center">
            {{ event.template.body }}
            {{ event.template.body }}
            {{ event.template.body }}
        </div>
        <div class="col align-self-end p-0">
            <div class="row">
                <img src="{{ pathToUploads }}/signatures/{{ event.template.signs }}" alt="" class="p-0">
            </div>
            <div class="row">
                <img src="{{ pathToUploads }}/footers/{{ event.template.footer }}" alt="" class="p-0">
            </div>
        </div>
    </div>
</div>


{% endblock %}