{% extends '@layout/base.html.twig' %}

{% block title %} Editar Template {% endblock %}

{% block content %}

<div>

</div>
<div id="component" class="container">
    <div class="row mt-1">
        <div class="col">
            <h3>Editar template</h3>
        </div>
    </div>
    {{ form_start(form) }}
    <div class="container border rounded">
        <div class="container">
            <h4 class="mt-3 mb-3">Datos del template</h4>
            <div class="mt-3 mb-3 row">
                <label for="inputName" class="col-sm-2 col-form-label">{{ form_label(form.name) }}</label>
                <div class="col-sm-10">
                    {{ form_widget(form.name,
                    {'attr': {'class': 'form-control', 'placeholder': 'Nombre para identificarlo más tarde'}}) }}
                </div>
            </div>
            <div class="mt-3 mb-3 row">
                <label for="inputName" class="col-sm-2 col-form-label">{{ form_label(form.comments) }}</label>
                <div class="col-sm-10">
                    {{ form_widget(form.comments,
                    {'attr': {'class': 'form-control', 'placeholder': 'Breve comentario explicativo'}}) }}
                </div>
            </div>
            <div class="mt-3 mb-3 row">
                <label for="inputName" class="col-sm-2 col-form-label">
                    <div class="row">
                        <p class="mb-0"> {{ form_label(form.body) }}
                            <!-- Modal Button -->
                            <a class="btn btn-link d-inline justify-content-center" data-bs-toggle="modal"
                                data-bs-target="#infoModal">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-info-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                    <path
                                        d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                                </svg>
                            </a>
                        </p>
                    </div>
                </label>

                <!-- Modal -->
                <div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="infoModalLabel"> {{ form_label(form.body) }} </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>El texto ingresado aquí se mostrará en el certificado final.</p>
                                <p>Se pueden utilizar variables en el texto. Luego, se
                                    mostrarán en el certificado con su valor correspondiente, recuperando los datos
                                    del evento (ver ejemplo más abajo).</p>
                                <p>Las variables que se pueden utilizar son: </p>
                            </div>
                            <div class="container mb-2">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        $asistente-nombre
                                    </li>
                                    <li class="list-group-item">
                                        $asistente-apellido
                                    </li>
                                    <li class="list-group-item">
                                        $asistente-dni
                                    </li>
                                    <li class="list-group-item">
                                        $asistente-condicion
                                    </li>
                                    <li class="list-group-item">
                                        $evento-nombre
                                    </li>
                                    <li class="list-group-item">
                                        $evento-inicio
                                    </li>
                                    <li class="list-group-item">
                                        $evento-fin
                                    </li>
                                    <li class="list-group-item">
                                        $evento-ciudad
                                    </li>
                                </ul>
                            </div>
                            <div class="modal-footer">
                                <div class="modal-body">
                                    <p>Por ejemplo: </p>
                                    <p style="font-style: italic;"> - "Certifico que <b>$asistente-apellido</b>,
                                        <b>$asistente-nombre</b> finalizó
                                        el
                                        curso
                                        de
                                        <b>$evento-nombre</b>."
                                    </p>
                                    <p>Luego será reemplazado por...</p>
                                    <p style="font-style: italic;"> - "Certifico que <b>Perez</b>, <b>Juan</b>
                                        finalizó
                                        el curso de <b>RCP
                                            Avanzado</b>."</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-10">
                    {{ form_widget(form.body,
                    {'attr': {'class': 'form-control',
                    'placeholder': 'Ingresar cuerpo de texto del certificado...',
                    'cols': 30,
                    'rows': 10}}
                    )
                    }}
                </div>
            </div>

            <div class="mt-3 mb-3 row">
                <label for="inputBackgroundColor" class="col-sm-2 col-form-label">
                    {{ form_label(form.backgroundColor) }}
                </label>
                <div class="col-sm-10" style="width: 70px;">
                    {{
                    form_widget(form.backgroundColor,
                    {'attr': {
                    'class': 'form-control',
                    'value': template.backgroundColor }
                    })
                    }}
                </div>
            </div>
        </div>
    </div>

    <div class="container border rounded mt-3">
        <div class="container">
            <h4 class="mt-3 mb-3 ">Archivos de imagen</h4>
            <div class="col">
                <div class="mt-3 mb-3 row">
                    <label for="headerFile" class="col-md-2 col-form-label">{{ form_label(form.header) }}</label>

                    {% if template.header %}
                    <div class="col pt-2">
                        <img src="/uploads/headers/{{ template.header }}" class="img-fluid"
                            alt="Imagen de encabezamiento">
                    </div>

                    <!--
                        START Delete Header Button + Modal
                    -->
                    <div class="col-auto d-flex align-items-center">
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#deleteHeaderModal">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white"
                                class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                <path
                                    d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z" />
                            </svg>
                        </button>
                    </div>
                    <div class="modal fade" id="deleteHeaderModal" tabindex="-1" aria-labelledby="deleteHeaderLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deleteHeaderLabel">¿Eliminar header?</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>ADVERTENCIA: Se perderán las modificaciones sin guardar. Si realizó cambios en el
                                        formulario,
                                        primero use el botón "Aplicar cambios" de abajo y luego regrese a eliminar esta
                                        imagen.</p>
                                    <p>Usted está a punto de eliminar la foto del header (esta acción no se puede
                                        deshacer).</p>
                                    <div class="my-2">
                                        <img src="/uploads/headers/{{ template.header }}" class="img-fluid border"
                                            alt="Imagen de encabezamiento">
                                    </div>
                                    <p>¿Continuar con la eliminación?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Cerrar</button>
                                    <a href="{{ path('deleteImage', {id: template.id, type: 'header'}) }}"
                                        class="btn btn-danger">Eliminar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--
                        END Delete Header Button + Modal
                    -->
                    {{
                    form_widget(form.header,
                    {'attr': {
                    'class': 'invisible'}
                    })
                    }}

                    {% else %}
                    <div class="col">
                        <div class="input-group">
                            {{
                            form_widget(form.header,
                            {'attr': {
                            'class': 'form-control',
                            'aria-describedby':'resetHeaderFile',
                            'aria-label':'Upload'}
                            })
                            }}
                            <button class="btn btn-outline-secondary" type="button"
                                onclick="resetInput('template_header')" id="resetHeaderFile">x</button>
                        </div>
                    </div>
                    {% endif %}
                </div>

                <div class="mt-3 mb-3 row">
                    <label for="signsFile" class="col-md-2 col-form-label">{{ form_label(form.signatures) }}</label>

                    {% if template.signs %}
                    <div class="col pt-2">
                        <img src="/uploads/signatures/{{ template.signs }}" class="img-fluid" alt="Imagen de firmas">
                    </div>

                    <!--
                        START Delete Signatures Button + Modal
                    -->
                    <div class="col-auto d-flex align-items-center">
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#deleteSignaturesModal">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white"
                                class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                <path
                                    d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z" />
                            </svg>
                        </button>
                    </div>
                    <div class="modal fade" id="deleteSignaturesModal" tabindex="-1"
                        aria-labelledby="deleteSignaturesLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deleteSignaturesLabel">¿Eliminar imagen de firmas?</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>ADVERTENCIA: Se perderán las modificaciones sin guardar. Si realizó cambios en el
                                        formulario,
                                        primero use el botón "Aplicar cambios" de abajo y luego regrese a eliminar esta
                                        imagen.</p>
                                    <p>Usted está a punto de eliminar la foto de la/s firma/s (esta acción no se puede
                                        deshacer).</p>
                                    <div class="my-2">
                                        <img src="/uploads/signatures/{{ template.signs }}" class="img-fluid border"
                                            alt="Imagen de encabezamiento">
                                    </div>
                                    <p>¿Desea continuar con la eliminación?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Cerrar</button>
                                    <a href="{{ path('deleteImage', {id: template.id, type: 'signatures'}) }}"
                                        class="btn btn-danger">Eliminar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--
                        END Delete Signatures Button + Modal
                    -->
                    {{
                    form_widget(form.signatures,
                    {'attr': {
                    'class': 'invisible'}
                    })
                    }}

                    {% else %}
                    <div class="col">
                        <div class="input-group">
                            {{
                            form_widget(form.signatures,
                            {'attr': {
                            'class': 'form-control',
                            'aria-describedby':'resetSignsFile',
                            'aria-label':'Upload'}
                            })
                            }}
                            <button class="btn btn-outline-secondary" type="button"
                                onclick="resetInput('template_signatures')" id="resetSignsFile">x</button>
                        </div>
                    </div>
                    {% endif %}
                </div>

                <div class="mt-3 mb-3 row">
                    <label for="footerFile" class="col-md-2 col-form-label">{{ form_label(form.footer) }}</label>

                    {% if template.footer %}
                    <div class="col pt-2">
                        <img src="/uploads/footers/{{ template.footer }}" class="img-fluid" alt="Imagen de pie">
                    </div>

                    <!--
                        START Delete Footer Button + Modal
                    -->
                    <div class="col-auto d-flex align-items-center">
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#deleteFooterModal">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white"
                                class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                <path
                                    d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z" />
                            </svg>
                        </button>
                    </div>
                    <div class="modal fade" id="deleteFooterModal" tabindex="-1" aria-labelledby="deleteFooterLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deleteFooterLabel">¿Eliminar imagen del pie?</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>ADVERTENCIA: Se perderán las modificaciones sin guardar. Si realizó cambios en el
                                        formulario,
                                        primero use el botón "Aplicar cambios" de abajo y luego regrese a eliminar esta
                                        imagen.</p>
                                    <p>Usted está a punto de eliminar la foto del pie (esta acción no se puede
                                        deshacer).</p>
                                    <div class="my-2">
                                        <img src="/uploads/footers/{{ template.footer }}" class="img-fluid border"
                                            alt="Imagen de encabezamiento">
                                    </div>
                                    <p>¿Desea continuar con la eliminación?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Cerrar</button>
                                    <a href="{{ path('deleteImage', {id: template.id, type: 'footer'}) }}"
                                        class="btn btn-danger">Eliminar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--
                        END Delete Signatures Button + Modal
                    -->
                    {{
                    form_widget(form.footer,
                    {'attr': {
                    'class': 'invisible'}
                    })
                    }}

                    {% else %}
                    <div class="col">
                        <div class="input-group">
                            {{
                            form_widget(form.footer,
                            {'attr': {
                            'class': 'form-control',
                            'aria-describedby':'resetFooterFile',
                            'aria-label':'Upload'}
                            })
                            }}
                            <button class="btn btn-outline-secondary" type="button"
                                onclick="resetInput('template_footer')" id="resetFooterFile">x</button>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-4">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end pb-4">
            <a class="btn btn-secondary" href="{{ path('detailTemplate', {id: template.id}) }}">Cancelar y
                volver</a>
            {{ form_widget(form.submit,
            {
            'label': 'Aplicar cambios',
            'attr': {'class': 'btn btn-success'}
            }) }}
        </div>
    </div>

    {{ form_end(form) }}
</div>

<script>
    function resetInput(id) {
        document.getElementById(id).value = "";
    }
</script>

{% endblock %}