{% extends '@layout/base.html.twig' %}

{% block title %} Eventos {% endblock %}

{% block content %}

<div id="component" class="container">

    <div class="row my-2">
        <div class="col">
            <h3>Eventos</h3>
        </div>
        <div class="col">
            {% if is_granted(['ROLE_EVENTOS_CREAR']) %}    
                <a href={{ path('viewEvent', {eventID: null, action: 'new' }) }} class="btn btn-secondary"
                    style="background-color: #00889B; float: right;">Nuevo evento</a>
            {% else %}
                <a class="btn btn-secondary" style="background-color: #00889B; float: right;" disbled title="Usuario no autorizado">Nuevo evento</a>
            {% endif %}    
        </div>
    </div>
    <div class="row">
        <div class="container">
            <div class="container border rounded">
                <form action="{{path('events')}}" method="get">
                    <div class="row mb-3 mt-2">
                        <div class="col-md-9 mt-2">
                            <input type="text" class="form-control" id="toSearch" name="toSearch"
                                placeholder="Ingrese un término de búsqueda..." autofocus>
                        </div>
                        <div class="col-md-3">
                            <button href="" class=" btn btn-secondary mt-2" style="width: 100%;">Aplicar
                                filtro</button>
                        </div>
                    </div>
                </form>

                {% if searchParameter %}
                <div class="row mb-3">
                    <div class="col-auto align-self-center">
                        Mostrando resultados con:
                    </div>
                    <div class="col-auto">
                        <a class="btn btn-light border border-dark mt-2" href={{ path('events') }}>
                            "{{ searchParameter }}"
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red"
                                class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                                <path
                                    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
                            </svg>
                        </a>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="container border rounded mt-2 mb-2">
        {% if events|length > 0 %}
        <table class="table table-striped table-hover">
            <thead>
                <th scope="col">Nombre</th>
                <th scope="col">Ubicación</th>
                <th scope="col" class="d-none d-md-table-cell">Inicio</th>
                <th scope="col" class="d-none d-md-table-cell">Fin</th>
                <th scope="col">Estado</th>
            </thead>
            <tbody>
                {% for event in events %}
                <tr>
                    <td>{{event.name}}</td>
                    <td>{{event.city.name}}</td>
                    <td class="d-none d-md-table-cell">
                        {% if event.startDate is not empty %}
                        {{event.startDate|date('d-m-Y')}}
                        {% endif %}
                    </td>
                    <td class="d-none d-md-table-cell">
                        {% if event.endDate is not empty %}
                        {{event.endDate|date('d-m-Y')}}
                        {% endif %}
                    </td>
                    {% if event.published == 0 %}
                    <td style="color:red">No publicado</td>
                    {% else %}
                    {% if event.template == null %}
                    <td style="color:tomato">Publicado</td>
                    {% else %}
                    <td style="color:green">Publicado</td>
                    {% endif %}
                    {% endif %}
                    <td>
                        {% if is_granted(['ROLE_EVENTOS_VER', 'ROLE_EVENTOS_MODIFICAR', 'ROLE_EVENTOS_ELIMINAR']) %}    
                            <a class="btn" href="{{ path('viewEvent', {eventID: event.id, action: 'view'}) }}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-three-dots" viewBox="0 0 16 16" data-bs-toggle="modal"
                                    data-bs-target="#showOptionsModal">
                                    <path
                                        d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z" />
                                </svg>
                            </a>
                        {% else %}
                            <a class="btn" title="Usuario no autorizado"></a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% if maxPages > 1 %}
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {%if thisPage > 1 %}
                <li class="page-item">
                    <a class="page-link"
                        href="{{ path('events', {currentPage: thisPage-1 < 1 ? 1 : thisPage-1, toSearch: searchParameter}) }}">«</a>
                </li>
                {% endif %}

                {# Render each page number #}
                {% for i in 1..maxPages %}
                <li class="page-item {% if thisPage == i %}active{% endif %}">
                    <a class="page-link" href="{{ path('events', {currentPage: i, toSearch: searchParameter}) }}">{{
                        i }}</a>
                </li>
                {% endfor %}

                {# `»` arrow #}
                {%if thisPage < maxPages %} <li class="page-item">
                    <a class="page-link"
                        href="{{ path('events', {currentPage: thisPage+1 <= maxPages ? thisPage+1 : thisPage, toSearch: searchParameter}) }}">»</a>
                    </li>
                    {% endif %}
            </ul>
        </nav>
        {% endif %}

        {% else %}
        <div class="container">
            <div class="row mt-3 mb-2">
                <div class="d-flex justify-content-center">
                    <p class="fs-5">No se encontró ningún evento. Intente con otro término de búsqueda.</p>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}