{% extends '@layout/base.html.twig' %}

{% block title %} Nuevo Evento {% endblock %}

{% block content %}

<div id="component" class="container">
    <div class="row mt-1">
        <div class="col">
            <h3>Nuevo evento</h3>
        </div>
    </div>
    <form action="{{path("createEvent")}}"> 
        <div class="container border rounded">
            <div class="container">
                <h4 class="mt-3 mb-3">Datos del evento</h4>
                <div class="mt-3 mb-3 row">
                    <label for="eventName" class="col-sm-2 col-form-label">Nombre</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="eventName" name="eventName" required>
                    </div>
                </div>
                <div class="mt-3 mb-3 row">
                    <label for="cityID" class="col-sm-2 col-form-label">Ubicación</label>
                    <div class="col-sm-10">     
                        <select name="cityID" class="form-select form-select-sm" aria-label=".form-select-sm example" required>
                            <option selected disabled>Seleccionar...</option>
                            {% for c in cities %}
                                <option value={{ c.id }}>{{ c.name }}</option>
                            {% endfor %}
                        </select>
                        <a href={{path("newCity")}} class="btn btn-secondary" style="background-color: #00889B; float: right;">Nueva ubicación</a>
                    </div>
                </div>

                <div class="mb-3 row">
                    <div class="col">
                        <label for="startDate" class="form-label">Fecha inicio</label>
                        <input type="date" class="form-control" id="startDate" name="startDate">
                    </div>
                    <div class="col">
                        <label for="endDate" class="form-label">Fecha fin</label>
                        <input type="date" class="form-control" id="endDate" name="endDate">
                    </div>
                </div>
            </div>

        </div>
        <div class="container border rounded mt-3">
            <div class="container">
                <h4 class="mt-3 mb-3 ">Asistentes</h4>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <div class="input-group">
                            <input type="file" class="form-control" id="inputAsistentesFile"
                                aria-describedby="inputAsistentesAddon" aria-label="Upload">
                            <button class="btn btn-outline-secondary" type="reset" id="inputAsistentesAddon">x</button>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="text-muted">
                            Cantidad de asistentes: XX. <a href="#">(Ver detalle)</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container border rounded mt-3">
            <div class="container">
                <h4 class="mt-3 mb-3 ">Template</h4>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <div class="input-group">
                            <select name="templateID" class="form-select form-select-sm" aria-label=".form-select-sm example">
                                <option selected disabled>Seleccionar...</option>
                                {% for t in templates %}
                                    <option value={{ t.id }}>{{ t.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container border rounded mt-3">
            <div class="container">
                <h4 class="mt-3 mb-3 ">Publicado</h4>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <div class="d-grid gap-2 d-md-flex justify-content-md-start mt-3">
                            <label class="switch">
                                <input type="checkbox" id="published" name="published"  class="slider round" unchecked>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-3">
                <a class="btn btn-secondary mb-3" href={{ path('events') }}>Cancelar y volver</a>
                <button class="btn btn-success mb-3">Crear evento</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}