{% extends '@layout/base.html.twig' %}

{% block title %} Imágenes {% endblock %}

{% block content %}
<div id="component" class="container">

    <div class="row my-2">
        <div class="col">
            <h3>Imágenes</h3>
        </div>
        <div class="col">
            <button type="button" class=" btn btn-secondary" style="background-color: #00889B; float: right;"
                data-bs-toggle="modal" data-bs-target="#loadImageModal">
                Cargar imagen
            </button>
        </div>
    </div>

    <div class="modal fade" id="loadImageModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Cargar nueva imagen</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                {{ form_start(form) }}
                <div class="modal-body px-4">
                    <div class="mt-3 mb-3 row">
                        <label for="headerFile" class="col-md-2 col-form-label">{{ form_label(form.name) }}</label>
                        <div class="col-md-10">
                            <div class="input-group">
                                {{
                                form_widget(form.name,
                                {'attr': {
                                'class': 'form-control'}
                                })
                                }}
                            </div>
                        </div>
                    </div>
                    <div class="mt-3 mb-3 row">
                        <label for="headerFile" class="col-md-2 col-form-label">{{ form_label(form.filename) }}</label>
                        <div class="col-md-10">
                            <div class="input-group">
                                {{
                                form_widget(form.filename,
                                {'attr': {
                                'class': 'form-control',
                                'aria-describedby':'resetFile',
                                'aria-label':'Upload'}
                                })
                                }}
                                <button class="btn btn-outline-secondary" type="reset" id="resetFile">x</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    {{ form_widget(form.submit,
                    {'attr': {'class': 'btn btn-success mb-3'}
                    }) }}
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

    <div class="container border rounded mt-2 mb-2">
        {% if images|length > 0 %}
        <table class="table table-striped table-hover">
            <thead>
                <th scope="col">Nombre</th>
                <th scope="col">Imagen</th>
                <th scope="col">Más</th>
            </thead>
            <tbody>
                {% for image in images %}
                <tr>
                    <td>{{image.name}}</td>
                    <td style="max-width: 200px;">
                        <img src="/uploads/images/{{image.filename}}" class="img-fluid" alt="imagen {{image.name}}">
                    </td>
                    <td>
                        <a class="btn" href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-three-dots" viewBox="0 0 16 16">
                                <path
                                    d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z" />
                            </svg>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="container">
            <div class="row mt-3 mb-2">
                <div class="d-flex justify-content-center">
                    <p class="fs-5">No se encontró ningúna imagen. Intente con otro término de búsqueda.</p>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}